[submodule "controllers"]
	path = controllers
	url = git@github.com:bolein/controllers.git
	branch = xfit_dev
[submodule "controllers-request"]
	path = controllers-request
	url = git@github.com:bolein/controllers-request.git
	branch = xfit_dev
