language: android
jdk: oraclejdk8
sudo: required
dist: precise
android:
  components:
  - platform-tools
  - tools
  - build-tools-27.0.3
  - android-27
  - extra-android-m2repository
  - extra-google-google_play_services
  - extra-google-m2repository
licenses:
  - android-sdk-preview-license-c81a61d9
  - android-sdk-license-.+
  - google-gdk-license-.+
script:
  - ./gradlew testDebug --stacktrace --no-daemon --parallel
before_install:
  - chmod +x gradlew
git:
  depth: 9999999